@use "main" as *;

section#home {
    max-height: 1rem;
  section#principal {
    @include flex(row, flex-start, space-around);
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 1rem 5rem;

    div#information {
      width: 28rem;
      @include flex(column, flex-start, space-evenly);
      padding: 3rem 0rem;

      h1,
      span {
        line-height: 150.023%;
        font-size: 4rem;
        font-style: normal;
      }

      h1 {
        color: $black-10;
        font-weight: 400;
        margin-bottom: 1.5rem;

        span {
          color: $green;
          font-weight: 900;
        }
      }

      p {
        color: $black;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 241.523%;
        width: 31.8125rem;
        margin-bottom: 2rem;
      }

      a {
        width: 8.4375rem;
        height: 3.3125rem;
        border-radius: 2.1875rem;
        background: $green;
        color: $white;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        padding: 1.12rem 1.19rem;
      }
    }

    div#img-coffee {
      position: relative;
      img {
        position: relative;
        width: 25rem;
        height: 32rem;
        z-index: 4;
        transition: all 1s;
      }

      div {
        position: absolute;
        width: 80.375rem;
        height: 80.375rem;
        background-color: $green;
        border-radius: 50%;
        z-index: 3;
      }
    }
  }

  section#box-coffees {
    @include flex(row, center, center);
    div.coffees {
      img {
        position: relative;
        width: 6.3125rem;
        height: 9.125rem;
        z-index: 6;
        &:first-child {
          margin-right: 1rem;
        }
        &:last-child {
          margin-left: 1rem;
        }
      }
    }
  }

  @include responsive(848px) {

    section#principal {
        div#information {
            width: 28rem;
            @include flex(column, flex-start, space-evenly);
            padding: 0rem 0rem;
            margin-bottom: 2rem;
          }
      
        div#img-coffee {
            div {
                width: 40.375rem;
                height: 40.375rem; 
                left: 5rem;
                top: -3rem;
            }
        }
    }

    section#box-coffees {
        div.coffees {
            // background-color: #fff;
            // height: 10rem;
            // width: 100%;
            z-index: 3;
            margin-bottom: 1rem;
        }
    }

    
  }
}
